/* --black: #000000ff;
--prussian-blue: #14213dff;
--orange: #fca311ff;
--alabaster-grey: #e5e5e5ff;
--white: #ffffffff; */



/* MAIN */


main {
  padding: 1.25rem 1.25rem 0;
  background-color: #e5e5e5ff;
}

section.sistema-solare {
  background-color: #fca311ff;
  padding: 1.25rem;
  
  border: 0.1875rem solid #000000ff;
}


.sistema-solare__body {
  font-size: 1.1875rem;
  /* font-size: 19px; */
  line-height: 1.15;
}

.sistema-solare__body li {
  list-style-image: url("../../assets/img/icons8-pianeta-8.png");
}

.pianeta-container {
  margin: 1.25rem 0 0;

  /* margin: 20px 0 0; */
}

.pianeta-card {
  width: calc(33.333333% - 0.8333333rem);
  border: 0.125rem solid black;
  /* padding: 1.25rem 0; */
  /* padding: 20px 0; */
  float: left;
  margin: 0 0.625rem 1.25rem;
  /* font-size: 16px; */
  /* margin: 0 10px 20px; */
  box-shadow: 0 0 0.3125rem 0.125rem #14213dff;
}

.pianeta-card header{
  border-bottom: 1px solid #14213dff;
}

section.pianeta-container article.pianeta-card:nth-of-type(3n + 1) {
  margin-left: 0;
}

section.pianeta-container article.pianeta-card:nth-of-type(3n) {
  margin-right: 0;
}

/* PUNTO 3 !! */
.pianeta-card:hover .pianeta-card__head {
  background-color: #14213dff;
  color: #fca311ff;
}

.pianeta-card:hover {
  cursor: pointer;
}

.pianeta-card h2 {
  text-align: center;
  margin: 0;
}

.pianeta-card__head {
  border-bottom: 0.125rem black;
  padding: 1.25rem 0;
  /* padding-bottom: 20px; */
  margin: 0;
}

.pianeta-card__body {
  padding: 1.25rem;
  /* padding: 20px */
}

.pianeta-card__body p {
  margin: 0;
}

.pianeta-card__footer {
  color: #14213dff;
  text-align: center;
  border-top: 0.125rem ridge black;
  padding: 1.25rem 0;
  font-size: 1.25rem;
  /* padding-top: 20px;
  font-size: 20px; */
  cursor: pointer;
}

/* FOOTER */

footer.pianeta-card__footer span {
  width: 75%;
  margin: 0 auto;
  padding: 0.3125rem;
  display: block;
}

footer.pianeta-card__footer span:hover {
  background-color: #14213dff;
  color: #fca311ff;
  cursor: pointer;
  border-radius: 999rem;
}

footer#main-footer {
  background-color: #fca311ff;
  padding: 1.875rem;
}







