/* --black: #000000ff;
--prussian-blue: #14213dff;
--orange: #fca311ff;
--alabaster-grey: #e5e5e5ff;
--white: #ffffffff; */

@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "EB Garamond", serif;
}

.bold {
  font-weight: bold;
}

.clearfix {
  clear: both;
}

abbr {
  text-decoration: none;
  font-style: italic;
}

address {
  display: inline-block;
}

.author {
  color: #14213dff;
  text-decoration: underline;
}

dt {
  display: inline-block;
  min-width: 9.375rem;
}

dd {
  display: inline-block;
}

a:is(:link,:focus, :hover, :visited, :active){
  color: unset;
  text-decoration: none;
}

/* HEADER */
header#main-header {
  position: relative;
  min-height: 15.625rem;
  line-height: 15.625rem;
  background-image: radial-gradient(
    circle 6.25rem,
    yellow 50%,
    yellow,
    #14213dff
  );
}

.sistema-solare_title {
  text-align: center;
  margin: 0;
  font-size: 2.5rem;
  /* font-size: 40px; */
  text-transform: capitalize;
}

.sistema-solare_title--principale {
  text-shadow: 0.125rem 0.125rem 0.125rem #e5e5e5ff;
  word-spacing: 0.1875rem;
  font-size: 3.75rem;
  /* text-shadow: 2px 2px 2px #e5e5e5ff; */
  /* word-spacing: 3px; */
  /* font-size: 60px; */
  text-transform: uppercase;
  color: #fca311ff;
}

/* MENU DI NAVIGAZIONE IN HEADER */


header#main-header .sistema-solare_title{
  float:left; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

nav#main-navbar{
  line-height: 1.2;/* ripristino la line-height che avevo modificato nel header */
  float: right;
  margin-top: 220px;
  margin-right: 15px;
}

nav#main-navbar  ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

nav#main-navbar ul li{
  display: inline-block; /* per far allineare gli li  */
  font-size: 1.3em;
  min-width: 4.5em;
}

nav#main-navbar ul li a {
  padding: 10px;
  text-decoration: none;
  color:#e5e5e5ff;
  display: block;
}

nav#main-navbar  ul  li:hover >a{
  color: #fca311ff;
}


/* MENU DI SECONDO LIVELLO*/

 li.second-level-container {
  position: relative;
}

nav#main-navbar ul ul {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #14213dff;
  transition: 0.5s;
}

nav#main-navbar ul ul li{
  font-size: 0.8em;
  min-width: 1em;
  width: 100%;
    
}

 nav#main-navbar ul ul li a {
  padding: 10px;
  text-decoration: none;
  text-align: center;
  color:#e5e5e5ff;
  display: block;
}

nav#main-navbar > ul > li.second-level-container:hover > a {
  border: 0.5px solid #e5e5e5ff;
  border-bottom: none;
}

nav#main-navbar > ul > li.second-level-container:hover > ul{
   border: 0.5px solid #e5e5e5ff;
    max-height: 999px;
    opacity: 1;
}

nav#main-navbar > ul > li.second-level-container:hover  ul li:not(:last-of-type) a {
  border-bottom: 0.5px solid #e5e5e5ff;
}


/* MEGA DROPDOWN MENU */

div.dropdown-content{
  max-height: 0;
  overflow: hidden;
  position: absolute;
  top:100%; 
  left: 0;
  width: 100%;
  display: block;
  background-color: #e5e5e5ff;
  box-shadow: 0px 8px 4px 0px  #14213dff, inset 0px -4px 4px 0px  #14213dff ;
}



div.dropdown-content .row .column{
  float: left;
  width: calc(100% / 3);
  text-align: center;
}

div.dropdown-content .row .column .header .h3{
  font-size: 1.2em;
  font-weight: bold;
  color: #14213dff;
}

nav#main-navbar div.dropdown-content .row .column a{
  text-align: center;
  color: #fca311ff;
}

nav#main-navbar ul li.mega-dropdown-menu:hover div.dropdown-content{
  max-height: 99999px;
}